@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Lato', sans-serif;
}

.card4{
  text-align: center;
    display: block;
    justify-content: center;
    align-items: center;
    margin: auto;
    width:200px;
    margin-left: 230px;
    padding-top: 5px;
    
}
.card1{
  text-align: center;
    display: block;
    justify-content: center;
    align-items: center;
    margin: auto;
    width:200px;
    margin-top: -405px;
    margin-left: 550px;
    
}
.card2{
  text-align: center;
    display: block;
    justify-content: center;
    align-items: center;
    margin: auto;
    width:200px;
    margin-top: -405px;
    margin-left: 900px;
      
}


